<h1>Feedback to Developer</h1>

<h3>Lets get in touch and talk about your next neighborhood portfolio...</h3>


<%= render 'home' %>


<%= render 'form', customer: @customer %>

<%= link_to 'Back', customers_path %>
